# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/React/reactdemo/node_modules
/React/reactdemo/.pnp
/React/reactdemo.pnp.js
/React/reactdemo
/React/reactdemo# testing
/React/reactdemo/coverage
/React/reactdemo# production
/React/reactdemo/build
/React/reactdemo# misc
/React/reactdemo.DS_Store
/React/reactdemo.env.local
/React/reactdemo.env.development.local
/React/reactdemo.env.test.local
/React/reactdemo.env.production.local
/React/reactdemonpm-debug.log*
/React/reactdemoyarn-debug.log*
/React/reactdemoyarn-error.log*
